
.results-list-wrapper {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	
	.vendor-card {
		margin: 1rem 0rem 0.75rem 0rem;
		border-radius: 0.5rem;
		&:first-child {
			margin-left: 2rem;
		}

		&:last-child {
			margin-right: 2rem;
		}
	}

	
	//:last-child .vendor-card{
		//margin-right: 1rem;
	//}

}
