@import "./utils/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.home {
  height: 100vh;
  overflow-y: scroll;
}

.navbar {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.page-enter {
  opacity: 0;
  transform: scale(1.5);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all ease-in-out 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: all ease-in-out 300ms;
}
